*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .container {
    width: 92%;
    
}
.box-1 {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 14px;
    background: linear-gradient(to right, red 35%,yellow 47%,rgb(255, 0, 0,0.6) 60.3%,rgba(56, 160, 245,0.9) 5%);
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */
    /* background:linear-gradient(#eee, #333); */
    /* background-color: linear-gradient(to left red,red,red ); */
}
p {
    font-weight: 200;
    padding-top: 18px;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: left;
    font-size: 2.1rem;
    color: #39A0F5;
}
.box_red {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 21px;
}
.box_red span {
    display: block;
    width: 268px;
    height: 126px;
    background-color: crimson;
}